{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}
    <div class="main" role="main">

        <div class="site-image">
            <img src="{{ base_url }}/{{ pages["_meta"].meta.header|url }}" alt="Header image.">
        </div>
        
        <div class="content">
            <div class="tech-info">
                <div class ="tech-menu">
                <h1>Meny</h1>
                {% for page in pages("technology")|sort_by("time") if not page.hidden %}
                    <div class="menu-option">
                        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
                    </div>
                {% endfor %}
                </div>
    
                <div class="tech-content">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
